@import 'bootstrap/scss/functions'; // Required
@import 'bootstrap/scss/variables'; // Required
@import 'bootstrap/scss/mixins'; // Required

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    margin-top: 80px;
}

img {
    max-width: 100%;
    height: auto;
}

.post {

    margin-top: 14px;

    .header {

        h1 {
            font-size: 44px !important;
            font-weight: bold;
        }
    }

    .body {
        h1 {
            font-size: 25px !important;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        h2 {
            font-size: 18px !important;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        p {
            line-height: 1.5;
            text-align: justify;
        }

        img {
            border: 1px solid lightgray;
            border-radius: $border-radius;
            width: 600px;
        }

        pre {
            border: 1px solid lightgray;
            border-radius: $border-radius;
        }
    }
}


.breadcrumb-chevron {
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    gap: .5rem;

    .breadcrumb-item {
        display: flex;
        gap: inherit;
        align-items: center;
        padding-left: 0;
        line-height: 1;
    }

    .breadcrumb-item::before {
        gap: inherit;
        float: none;
        width: 1rem;
        height: 1rem;
    }
}
